

<%-include("header") %>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffd209" fill-opacity="1" d="M0,256L8.9,224C17.8,192,36,128,53,133.3C71.1,139,89,213,107,250.7C124.4,288,142,288,160,277.3C177.8,267,196,245,213,218.7C231.1,192,249,160,267,133.3C284.4,107,302,85,320,74.7C337.8,64,356,64,373,64C391.1,64,409,64,427,106.7C444.4,149,462,235,480,250.7C497.8,267,516,213,533,186.7C551.1,160,569,160,587,170.7C604.4,181,622,203,640,213.3C657.8,224,676,224,693,208C711.1,192,729,160,747,160C764.4,160,782,192,800,218.7C817.8,245,836,267,853,256C871.1,245,889,203,907,176C924.4,149,942,139,960,138.7C977.8,139,996,149,1013,144C1031.1,139,1049,117,1067,112C1084.4,107,1102,117,1120,122.7C1137.8,128,1156,128,1173,154.7C1191.1,181,1209,235,1227,266.7C1244.4,299,1262,309,1280,261.3C1297.8,213,1316,107,1333,69.3C1351.1,32,1369,64,1387,85.3C1404.4,107,1422,117,1431,122.7L1440,128L1440,0L1431.1,0C1422.2,0,1404,0,1387,0C1368.9,0,1351,0,1333,0C1315.6,0,1298,0,1280,0C1262.2,0,1244,0,1227,0C1208.9,0,1191,0,1173,0C1155.6,0,1138,0,1120,0C1102.2,0,1084,0,1067,0C1048.9,0,1031,0,1013,0C995.6,0,978,0,960,0C942.2,0,924,0,907,0C888.9,0,871,0,853,0C835.6,0,818,0,800,0C782.2,0,764,0,747,0C728.9,0,711,0,693,0C675.6,0,658,0,640,0C622.2,0,604,0,587,0C568.9,0,551,0,533,0C515.6,0,498,0,480,0C462.2,0,444,0,427,0C408.9,0,391,0,373,0C355.6,0,338,0,320,0C302.2,0,284,0,267,0C248.9,0,231,0,213,0C195.6,0,178,0,160,0C142.2,0,124,0,107,0C88.9,0,71,0,53,0C35.6,0,18,0,9,0L0,0Z"></path></svg>
    <div class="box" id="heading">

    <h1> <%= ListTitle %> </h1>

  </div>

  <div class="box">

    <% for (var i = 0; i<newListItem.length;i++){ %>
      <div class="item">

        <input type="checkbox">
        <p> <%=newListItem[i]%> </p>

      </div>
    <% } %>

    <form class="item" action="/" method="post">

      <input type="text" name="newItem" placeholder="Add your item" autocomplete="off">
      <button type="submit" name="list" value= <%= ListTitle %> >+</button>

    </form>



  </div>





<%-include("footer") %>
